body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

.calculator-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colunas para os novos botões */
    grid-gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px; /* Largura maior */
}

.display {
    grid-column: 1 / -1;
    background-color: #222;
    color: #fff;
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.previous-operand {
    font-size: 1.2rem;
    color: #aaa;
}

.current-operand {
    font-size: 2.5rem;
}

button {
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #777;
}

button.clear {
    background-color: #ff6347;
}

button.span-two {
    grid-column: span 2;
}

button[data-operation="equals"] {
    background-color: #4caf50;
}
